body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    font-family: 'Inter', sans-serif;
    color: black;
    background: white;
}
.main-container{
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}